.ext-page-header {
    .ext-page-header__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
}

.bui-banner {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    display: flex;
    padding: 16px;
    position: relative;


}