.bui-input-text__side:last-child {
    padding-right: 8px;
}

.peg-home-table-actions {
    color: #6b6b6b;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.dropdown-menu {
    min-width: 256px !important;
}