.section_category {
    margin-bottom: 30px;

    .category_container {
        display: flex;
        flex-direction: column;
    }

    .img_customize {
        height: 200px;
        cursor: pointer;
    }

    .title_img {
        padding-top: 5px;
        font-weight: 600;
        font-size: 16px;
    }

    .img_category {
        width: 260px;
        display: block;
        height: 200px;
        border-radius: 8px;
        background-repeat: round;

        -webkit-transform: scale(1);
        transform: scale(1);

        &:hover {
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
    }

}

.slick-prev:before,
.slick-next:before {
    color: #6b6b6b !important;
}

.slick-list {
    margin: 5px !important;
}