.form-container {
    width: 1140px;
    margin: auto;
    padding: 30px 0px 148px 28px;

    .category-card-group {
        background-color: #fff;
        border: 1px solid #e7e7e7;
        margin-bottom: 0;
        width: auto;
        text-align: center;
        margin-right: 10px;
        padding: 10px;
    }
}