.wrapper_header {
    background-color: #003580;

    .container_header {
        align-items: flex-end;
        justify-content: space-between;
        padding: 12px 180px 8px;


        .title_header {
            font-size: 24px;
            cursor: pointer;
            font-weight: 600;
            color: white;
            padding: 8px 16px 8px 45px;

        }

        .extension_icon {
            .icon_laguage_deatail {
                border-radius: 50%;
                width: 24px;
                margin-right: 30px;
                margin-bottom: 5px;
            }

            .icon_operate {
                color: white;
                font-size: 26px;
            }
        }
    }

}